<!DOCTYPE html>
<html>
	<head prefix="og: http://ogp.me/ns#">
		<meta charset="UTF-8">
		<title>Shorty</title>
		<meta content="Shorty" property="og:title">
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta content="object" property="og:type">
		<meta content="Shorty" property="og:site_name">
		<meta content="Shortener that satisfies all your needs." property="og:description">
		<meta content="@azurystudios" property="og:author">
		<meta content="https://cdn.discordapp.com/attachments/794910747221950505/794923997787717672/brand.svg" property="og:image">
		<meta content="64" property="og:image:width">
		<meta content="64" property="og:image:height">
		<meta content="https://azury.gg" property="og:url">
		<meta content="summary" property="twitter:card">
		<meta content="Shorty" property="twitter:title">
		<meta content="Shortener that satisfies all your needs." property="twitter:description">
		<meta content="https://cdn.discordapp.com/attachments/794910747221950505/794923997787717672/brand.svg" property="twitter:image">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

		<link rel="icon" href="https://cdn.discordapp.com/attachments/794910747221950505/794923997787717672/brand.svg">
		<link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/794910747221950505/794923997787717672/brand.svg">
		<link rel="stylesheet" href="assets/2b21780eb09d.css">

		<noscript>Shorty needs JavaScript to work correctly.</noscript>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-86H782WT4S"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-86H782WT4S');
		</script>
  </head>

  <body oncontextmenu="return false;">
    <div class="loader-oa2dik">
      <div class="spinner-tf89tw">
        <div class="cube-hwwb77"></div>
        <div class="cube-2usk81"></div>
      </div>
    </div>

    <main class="app-7hx5g9">
			<div class="announcement-oflwkt">
				<p>January 2, 2020: We will transfer the service to a other domain on January 31, 2021.</p>
			</div>

			<section class="section-fhsah1">
				<img src="https://cdn.discordapp.com/attachments/794910747221950505/794923997787717672/brand.svg" alt="error">
				<h1>Shorty</h1>
				<form class="form-wjfurz" action="/short" method="POST">
					<label class="label-fx6oxx" for="fullUrl">YOUR URL</label>
					<div class="row-86bszd">
						<input
							required
							placeholder="https://www.youtube.com/watch?v=kRK6fAiMQM4"
							type="url"
							name="fullUrl"
							id="fullUrl"
							class="input-o90v7m"
						/>
						<button class="btn-24wvst" type="submit">Shorten</button>
					</div>
				</form>
			</section>
			<section class="section-w1dct6">
				<table class="table-tjx6kc" cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th>Full URL</th>
							<th>Short URL</th>
							<th>Clicks</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% shortUrls.forEach(shortUrl => { %>
						<tr>
							<td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
							<td><a class="link-sp0l5y" onclick="copy('https://azury.cc/<%= shortUrl.short %>')"><%= shortUrl.short %></a></td>
							<td><%= shortUrl.clicks %></td>
							<td class="row-pgapvi"><i class="fas fa-copy" onclick="copy('https://azury.cc/<%= shortUrl.short %>')"></i><i class="fas fa-share" onclick="window.location.href='https://azury.cc/<%= shortUrl.short %>'"></i></td>
						</tr>
						<% }) %>
					</tbody>
				</table>
			</section>

			<div class="version-euwwan">
        <p>Stable 0.3</p>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/jquery@latest/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
		<script src="https://unpkg.com/tippy.js@6"></script>
		<script src="assets/483c80cbac09.js"></script>
  </body>
</html>